<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.github.andreyasadchy.xtra.ui.chat.v2.ChatMessageTextViewTestActivity"
            android:exported="true"
            android:theme="@style/DarkTheme" />
        <activity
            android:name="com.github.andreyasadchy.xtra.ui.chat.v2.ChatEventFixtureActivity"
            android:exported="true"
            android:theme="@style/DarkTheme" />
    </application>
</manifest>
